.services{
	width:718px;
	height:auto;
	margin-left: 3px;
	margin-right:22px;
	margin-bottom:20px;
	padding-top:20px;
	}

.services p{
	width:100%;
	font-family:Montserrat Light, sans-serif;
	font-size:14px;
	color:#666;
	text-align:justify;
	line-height:22px;
	padding-bottom:10px;
	}

.services p span{
	font-weight:bold;
	color:#C40000;
	}