.contact{
	width:718px;
	height:auto;
	margin-left: 3px;
	margin-right:22px;
	margin-bottom:20px;
	padding-top:20px;
	}

.contact ul{
	width:100%;
	height:auto;
	}
	
.contact ul li{
	list-style:none;
	padding-bottom:10px;
	text-align:justify;
	font-size: 16px;
	}	
	
.contact ul li span{
	font-weight:bold;
	}	
	
.contact ul li a{
	color:#C40000;
	}	

.contact ul li#intro {
	font-size: 14px;
}
	
	